*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
}
.Main-Div{
    display: flex;
    height: 100vh;
    width: 100%;
}

.row-1{
    letter-spacing: 1px;
    /* font-family: sans-serif; */
    word-spacing: -2px;
    width: 25%;
    background-color: beige;

}
.profile-img{
    border-right: 7px solid paleturquoise;
    height: 140px;
    width: 140px;
    border-radius: 50%;
    position: absolute;
    margin: 150px -70px;
    border-bottom: 8px solid paleturquoise;
    border-left: 7px solid paleturquoise;
}
#img-pro{
    position: relative;
    text-align: center;
    height: 30%;
    background-image: url("resume-bg-59c9a973e40d0dc42d9bb608677236d5.webp");
}
#p-name{
    font-size: 25px;
    text-align: center;
    margin-top: 85px;
    text-transform: uppercase;
    font-weight: 600;
    /* font-family: sans-serif; */
}
#p-soft{
    font-size: 15px;
    text-align: center;
    font-weight: 600;
    margin-top: 7px;
    
}
#ul-1{
    list-style-type: none;
    margin-top: 10px;
    width: 60%;
   
}

#div-list{
    display: flex;
    justify-content: center;

}
#anchor-tag{
    display: contents;
    text-decoration: none;
    color: black;
    height: 39px;
    width: 100%;
    padding: 10px;
}
.list-home{
    height: 39px;
    width: 100%;
    display: flex;
    align-items: center;

}
 #img{
    padding: 10px
} 
#list-cont{
    width: 100%;
    height: 100%;
    margin-top: 20px;
}
#ul-1>li:hover{
    background-color:darkturquoise ;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    height: 39px;
    width: 100%;
}


/* row to Starting Here*/

#Row-2-Main-Div{
    width: 75%;
    border-right: 300px solid beige;
}
#head{
    text-align: center;
    font-size:25px;
    font-weight: 600;
    top: 5.5%;
    position: relative;
    height: 15%
}
#HrResume{
    left: 6%;
    width: 86%;
    position: relative;
    font-weight: 600;
    background-color: gray;
    height: 11px;
}
#ImageDiv{
    display: flex;
    top: 10px;
    left: 6%;
    position: relative;
    width: 87%;
}

#imgpro{
    width: 100px;
}
#ResName{
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
}
#detailImg{
    width: 30px;
}
#contact{
    display: flex;
    position: relative;
    top: 4px;
}
#details{
    position: relative;
    top: 5px;
}
#gmailDiv{
    display: flex;
    position: relative;
    left: 10px;
}
#text{
    height: 94px;
    width: 64%;
    top: 5px;
    position: relative;
    left: 20px;
}
#CarObj{
    left: 6%;
    width: 86%;
    background-color: grey;
    position: relative;
    height: 11px;
    padding: 1px;
}
#Carries{
    font-size: 10px;
    position: relative;
    font-weight: 600;
    top: 25px;
}
#textok{
    top: 25px;
    width: 86%;
    position: relative;
    left: 6%;
}
#ul-list{
    position: relative;
    width: 86%;
    left: 6%;
    top: 25px;
    font-size: 12px;
}
#PercentagePG{
    position: relative;
    left: 134px;
}
#PercentageGraduation{
    position: relative;
    left: 166px;
}
#PercentageInter{
    position: relative;
    left: 248px;
    top: 3px;
}
#PercentageMatri{
    position: relative;
    left: 296px;
    top: 5px;
}
.linePg {
    height: 3.5px;
    background: grey;
    position: absolute;
    top: 8px;
    left: 472px;     
}
.lineGraduation{
    height: 3.5px;
    background: grey;
    position: absolute;
    top: 22px;
    left: 472px;
}
.lineInter{
    height: 3.5px;
    background: grey;
    position: absolute;
    top: 38px;
    left: 470px;
}
.lineMtric{
    height: 3.5px;
    background: grey;
    position: absolute;
    top: 52px;
    left: 470px;

}
#line_r{
    /* -webkit-animation: line_r_animation 3s infinite; */
    animation: line_r_animation 3s infinite;
  }
  @keyframes line_r_animation {
    0%   {left: calc(2% + 50px); width: 0px;}
    35%   {left: calc(2% + 0px); width: 50px;}
    70%   {left: calc(2% + 0px); width: 0px;}
    100%   {left: calc(2% + 0px); width: 0px;}
}
@-webkit-keyframes line_r_animation {
    0%   {right: calc(2% + 50px); width: 0px;}
    35%   {right: calc(2% + 0px); width: 50px;}
    70%   {right: calc(2% + 0px); width: 0px;}
    100%   {right: calc(2% + 0px); width: 0px;}
}
@keyframes line_r_animation {
    0%   {right: calc(2% + 50px); width: 0px;}
    35%   {right: calc(2% + 0px); width: 50px;}
    70%   {right: calc(2% + 0px); width: 0px;}
    100%   {right: calc(2% + 0px); width: 0px;}
}
/* graduation Animation Start Here...... */
#line_gradu{
    /* -webkit-animation: line_r_animation 3s infinite; */
    animation: line_gradu_animation 3s infinite;
  }
  @keyframes line_gradu_animation {
    0%   {left: calc(2% + 50px); width: 0px;}
    35%   {left: calc(2% + 0px); width: 50px;}
    70%   {left: calc(2% + 0px); width: 0px;}
    100%   {left: calc(2% + 0px); width: 0px;}
}
@-webkit-keyframes line_gradu_animation {
    0%   {right: calc(2% + 50px); width: 0px;}
    35%   {right: calc(2% + 0px); width: 50px;}
    70%   {right: calc(2% + 0px); width: 0px;}
    100%   {right: calc(2% + 0px); width: 0px;}
}
@keyframes line_gradu_animation {
    0%   {right: calc(2% + 50px); width: 0px;}
    35%   {right: calc(2% + 0px); width: 50px;}
    70%   {right: calc(2% + 0px); width: 0px;}
    100%   {right: calc(2% + 0px); width: 0px;}
}

#line_inter{
        /* -webkit-animation: line_r_animation 3s infinite; */
        animation: line_gradu_animation 3s infinite;
    }
    @keyframes line_inter_animation {
      0%   {left: calc(2% + 50px); width: 0px;}
      35%   {left: calc(2% + 0px); width: 50px;}
      70%   {left: calc(2% + 0px); width: 0px;}
      100%   {left: calc(2% + 0px); width: 0px;}
  }
  @-webkit-keyframes line_inter_animation {
      0%   {right: calc(2% + 50px); width: 0px;}
      35%   {right: calc(2% + 0px); width: 50px;}
      70%   {right: calc(2% + 0px); width: 0px;}
      100%   {right: calc(2% + 0px); width: 0px;}
  }
  @keyframes line_inter_animation {
      0%   {right: calc(2% + 50px); width: 0px;}
      35%   {right: calc(2% + 0px); width: 50px;}
      70%   {right: calc(2% + 0px); width: 0px;}
      100%   {right: calc(2% + 0px); width: 0px;}
  }
#line_matric{
    /* -webkit-animation: line_r_animation 3s infinite; */
    animation: line_matric_animation 3s infinite;
  }
  @keyframes line_matric_animation {
    0%   {left: calc(2% + 50px); width: 0px;}
    35%   {left: calc(2% + 0px); width: 50px;}
    70%   {left: calc(2% + 0px); width: 0px;}
    100%   {left: calc(2% + 0px); width: 0px;}
}
@-webkit-keyframes line_matric_animation {
    0%   {right: calc(2% + 50px); width: 0px;}
    35%   {right: calc(2% + 0px); width: 50px;}
    70%   {right: calc(2% + 0px); width: 0px;}
    100%   {right: calc(2% + 0px); width: 0px;}
}
@keyframes line_matric_animation {
    0%   {right: calc(2% + 50px); width: 0px;}
    35%   {right: calc(2% + 0px); width: 50px;}
    70%   {right: calc(2% + 0px); width: 0px;}
    100%   {right: calc(2% + 0px); width: 0px;}
}

#skillobj{
    left: 6%;
    width: 86%;
    background-color: grey;
    position: relative;
    height: 11px;
    padding: 1px;
    top: 5px;
}
#skill{
    font-size: 10px;
    position: relative;
    font-weight: 600;
    top: 25px;
}
#Ul-Skill{
    position: relative;
    width: 86%;
    left: 8%;
    top: 10px;
    font-size: 12px;
}